.custom-button {
    width: 100%;
    max-width: 40vw;
    height: 3.5em;
    letter-spacing: 0.5px;
    line-height: 10px;
    padding: 0 10px 0 10px;
    font-size: 12px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 6px;
   p{
       font-size: 10px;
   }
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
  